<div class="brands-detect flex-row">
    <img src="../images/heineken.svg" alt="">
    <img src="../images/bivina.svg" alt="">
    <img src="../images/larue.svg" alt="">
    <img src="../images/bia-viet.svg" alt="">
    <img src="../images/tiger.svg" alt="">
    <img src="../images/edelweiss.svg" alt="">
    <img src="../images/strongbow.svg" alt="">
</div>