<div class="data-ctn">
    <h3>Count Beer Drinkers</h4>
    <div class="description d-flex flex-row align-items-start">
        <img src="/images/icons/info-circle.svg" alt="">
        <p class="subtext ms-2">Count the number of people in the images. Determine how many of them are drinking Heineken beers.</p>
    </div>
    <div class="d-flex flex-row justify-content-between mt-3">
        <p style="font-family: bold-font">Brand</p>
        {{> brands}}
    </div>
    <div class="d-flex flex-row justify-content-between">
        <p style="font-family: bold-font">Total</p>
        <p>1</p>
    </div>
</div>

{{!-- <table class="count-beer-drinkers">
        <thead>
            <tr>
                <th class="h3 column1">Count Beer Drinkers</th>
            </tr>
            <tr> 
                <th class="column1" style="width:316px"> 
                    <div class="d-flex flew-row">
                        <img src="/public/images/icons/info-circle.svg" style="padding-right: 8px;">  <p class="subtext">Count the number of people in the images. Determine how many of them are drinking Heineken beers.</p>
                    </div>
                    </th>
            </tr>
            <tr>
                <th class="column1">
                    <p></p>
                </th>
            </tr>
            <tr>
                <th class="h4 column1">Brand</th>
                <th class="column2">
                    <div class="brands-detect d-flex flex-row">
                        <img src="../images/heineken.svg" alt="">
                        <img src="../images/bivina.svg" alt="">
                        <img src="../images/larue.svg" alt="">
                        <img src="../images/bia viet.svg" alt="">
                        <img src="../images/tiger.svg" alt="">
                        <img src="../images/edelweiss.svg" alt="">
                        <img src="../images/strongbow.svg" alt="">
                    </div>
                </th>
            </tr>
            <tr>
                <th class="column1">
                    <p></p>
                </th>
            </tr>
            <tr>
                <th class="h4 column1">Totals</th>
                <th class="column2"><p>0</p></th>
            </tr>
    </table> --}}