    <table class="count-beer-drinkers">
        <thead>
            <tr>
                <th class="h3 column1">Detect POSM</th>
            </tr>
            <tr> 
                <th class="column1" style="width:316px"> 
                    <div class="d-flex flew-row">
                        <img src="/public/images/icons/info-circle.svg" style="padding-right: 8px;">  <p class="subtext">Detect POSM with Heineken’s logo to verify brand presence at a restaurant.</p>
                    </div>
                    </th>
            </tr>
            <tr>
                <th class="column1">
                    <p></p>
                </th>
            </tr>
            <tr>
                <th class="h4 column1">Brand</th>
                <th class="column2">
                    <div class="brands-detect d-flex flex-row">
                        <img src="../images/heineken.svg" alt="">
                        <img src="../images/bivina.svg" alt="">
                        <img src="../images/larue.svg" alt="">
                        <img src="../images/bia viet.svg" alt="">
                        <img src="../images/tiger.svg" alt="">
                        <img src="../images/edelweiss.svg" alt="">
                        <img src="../images/strongbow.svg" alt="">
                    </div>
                </th>
            </tr>
            <tr>
                <th class="column1">
                    <p></p>
                </th>
            </tr>
            <tr>
                <th class="column1">
                    <p class="subtext">Banner</p>
                </th>
                <th class="column2"><p class="subtext">1</p></th>
            </tr>
            <tr>
                <th class="column1">
                    <p class="subtext">Bucket</p>
                </th>
                <th class="column2"><p class="subtext">1</p></th>
            </tr>
            <tr>
                <th class="column1">
                    <p class="subtext">Bottle</p>
                </th>
                <th class="column2"><p class="subtext">1</p></th>
            </tr>
            <tr>
                <th class="column1">
                    <p class="subtext">Can</p>
                </th>
                <th class="column2"><p class="subtext">1</p></th>
            </tr>
            <tr>
                <th class="column1">
                    <p class="subtext">Fridge</p>
                </th>
                <th class="column2"><p class="subtext">1</p></th>
            </tr>
            <tr>
                <th class="column1">
                    <p class="subtext">Signage</p>
                </th>
                <th class="column2"><p class="subtext">1</p></th>
            </tr>
            <tr>
                <th class="column1">
                    <p class="subtext">Billboard</p>
                </th>
                <th class="column2"><p class="subtext">1</p></th>
            </tr>
            <tr>
                <th class="column1">
                    <p class="subtext">Tent card</p>
                </th>
                <th class="column2"><p class="subtext">1</p></th>
            </tr>
            <tr>
                <th class="column1">
                    <p class="subtext">Table top</p>
                </th>
                <th class="column2"><p class="subtext">1</p></th>
            </tr>
            <tr>
                <th class="column1">
                    <p class="subtext">Parasol</p>
                </th>
                <th class="column2"><p class="subtext">1</p></th>
            </tr>
            <tr>
                <th>
                    <p></p>
                </th>
            </tr>
            <tr>
                <th class="h4 column1">Total</th>
                <th class="column2"><p>10</p></th>
            </tr>
    </table>