<table>
    <thead>
        <tr>
            <p class="h4">Detect POSM</p>
        </tr>
        <tr>
            <td style="widtd:316px">
                <div class="d-flex flex-row" style="widtd: 100%;">
                    <img src="/images/icons/info-circle.svg" style="padding-right: 8px;">
                    <p class="subtext">Detect POSM witd Heineken’s logo to verify brand presence at a restaurant.</p>
                </div>
            </td>
        </tr>
    </thead>
    <tr>
        <td>
            <p></p>
        </td>
    </tr>
    <tr>
        <td class="h4">Brand</td>
        <td>
            <div class="brands-detect d-flex flex-row">
                <img src="../images/heineken.svg" alt="">
                <img src="../images/bivina.svg" alt="">
                <img src="../images/larue.svg" alt="">
                <img src="../images/bia viet.svg" alt="">
                <img src="../images/tiger.svg" alt="">
                <img src="../images/edelweiss.svg" alt="">
                <img src="../images/strongbow.svg" alt="">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <p></p>
        </td>
    </tr>
    <tr>
        <td>
            <p class="subtext">Banner</p>
        </td>
        <td>
            <p class="subtext">1</p>
        </td>
    </tr>
    <tr>
        <td>
            <p class="subtext">Bucket</p>
        </td>
        <td>
            <p class="subtext">1</p>
        </td>
    </tr>
    <tr>
        <td>
            <p class="subtext">Bottle</p>
        </td>
        <td>
            <p class="subtext">1</p>
        </td>
    </tr>
    <tr>
        <td>
            <p class="subtext">Can</p>
        </td>
        <td>
            <p class="subtext">1</p>
        </td>
    </tr>
    <tr>
        <td>
            <p class="subtext">Fridge</p>
        </td>
        <td>
            <p class="subtext">1</p>
        </td>
    </tr>
    <tr>
        <td>
            <p class="subtext">Signage</p>
        </td>
        <td>
            <p class="subtext">1</p>
        </td>
    </tr>
    <tr>
        <td>
            <p class="subtext">Billboard</p>
        </td>
        <td>
            <p class="subtext">1</p>
        </td>
    </tr>
    <tr>
        <td>
            <p class="subtext">Tent card</p>
        </td>
        <td>
            <p class="subtext">1</p>
        </td>
    </tr>
    <tr>
        <td>
            <p class="subtext">Table top</p>
        </td>
        <td>
            <p class="subtext">1</p>
        </td>
    </tr>
    <tr>
        <td>
            <p class="subtext">Parasol</p>
        </td>
        <td>
            <p class="subtext">1</p>
        </td>
    </tr>
    <tr>
        <td>
            <p></p>
        </td>
    </tr>
    <tr>
        <td class="h4">Total</td>
        <td>
            <p>10</p>
        </td>
    </tr>
</table>