<div class="header">
  <div class="button">
    <img class="search-lg" src="../../public/icons/search-lg.svg" />
    <div class="button2">Search...</div>
  </div>
  <div class="frame-8">
    <img class="home-05" src="home-05.svg" />
  </div>
  <div class="frame-38">
    <div class="navigation-actions">
      <div class="dropdown">
        <img class="avatar" src="avatar0.png" />
      </div>
    </div>
    <img class="chevron-down" src="chevron-down.svg" />
  </div>
</div>
