<div class="col img-ctn flex-column">
  <div class="d-flex flex-row align-items-center justify-content-between">
    <div class="d-flex">
      <img src="../images/icons/image.svg" alt="" />
      <p class="img-name" style="padding-left: 8px; margin: 0;">heineken.jpg</p>
    </div>
    <img src="../images/icons/dots.svg" class="justify-content-end" alt="" />
  </div>
  <img
    class="uploaded-img"
    src="../images/WF Image Placeholder.jpg"
    style="padding-top: 10px"
    alt=""
  />
</div>