<div class="left-side-bar">
  <div class="frame-5">
    <div class="frame-3">
      <div class="start-componet">
        <img class="plus" src="/public/icons/plus.svg" />
      </div>
      <div class="new">New</div>
    </div>
    <div class="frame-52">
      <div class="start-componet2">
        <img class="clock-refresh" src="/public/icons/clock-refresh.svg" />
      </div>
      <div class="recent">Recent</div>
    </div>
    <div class="frame-6">
      <div class="start-componet2">
        <img class="trash-01" src="/public/icons/trash-01.svg" />
      </div>
      <div class="trash">Trash</div>
    </div>
  </div>
</div>
