<style>
   input{
    visibility: hidden !important;
    z-index: -10000;
    position: absolute !important;
   }
</style> 

 <input type="file" id="fileInput" accept="image/jpeg, image/png, image/jpg" multiple>

 <div class="left-sidebar d-flex flex-column align-items-center">
        <!-- Add -->
        <div class="flex-column">
            <button class="add-btn" id="add-btn"><img src="/images/icons/add.svg" alt=""></button>
            <p style="font-size: 14px; font-family: medium-font; text-align: center;">New</p>
        </div>
        <!-- Recent -->
        <div class="flex-column">
            <button class="sidebar-btn"><img src="/images/icons/recent.svg" alt=""></button>
            <p style="font-size: 14px; font-family: medium-font; color: #888;">Recent</p>
        </div>
        <!-- Trash -->
        <div class="flex-column">
            <button class="sidebar-btn"><img src="/images/icons/trash-1.svg" alt=""></button>
            <p style="font-size: 14px; font-family: medium-font; text-align: center; color: #888;">Trash</p>
        </div>
</div>