<div class="container-fluid">
    {{> header}}
    <div class="d-flex flex-row">
        {{> left_sidebar}}
        <div class="container">
            <div class="col"></div> 
            <div class="col-11">
                <!-- Import image container here -->
                {{#each data}}
                {{#each this}}
                <div class="col img-ctn flex-column">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <div class="d-flex">
                            <img src="/images/icons/image.svg" alt="" />
                            <p class="img-name" style="padding-left: 8px; margin: 0;">{{filename}}</p>
                        </div>
                        <img src="/images/icons/dots.svg" class="justify-content-end" alt="" />
                    </div>
                    <img
                    class="uploaded-img"
                    src={{filename}}
                    style="padding-top: 10px"
                    alt=""
                    />
                </div>
                {{/each}}
                {{/each}}
            </div>
        </div>
</div>

{{> image_modal}}