 <div class="container-fluid">
    {{> header}}
    {{> left_sidebar}}
        <div class="container">
            <div class="col"></div> 
            <div class="col-11">
                <!-- Import image container here -->
                {{> image_container}}
            </div>
        </div>
</div>