<div class="limiter container-fluid">
    <div class="container position-absolute top-50 start-50 translate-middle md justify-content-center align-items-center">
        <div class="row justify-content-center row">
            <button type="button" id="payslip-button"
                    class="col-10 col-sm-10 col-md-6 col-lg-5 col-xl-6 btn-dark btn-lg txt1 shadow"
                    data-bs-toggle="modal" data-bs-target="#payslip-modal">
                Upload Images
            </button>
        </div>
    </div>
</div>

{{> image_modal}}