<div class="container-fluid">
    {{> header}}
    <div class="d-flex flex-row">
        {{> left_sidebar}}
        {{!-- {{> key_elements}} --}}
        <div class="d-flex flex-column">
            <div class="business-problems">

            </div>
            <img src="" style="width: 770px; height: 100%; object-fit: contain" alt="">
        </div>
    </div>
    
</div>